@{
    ViewData["Title"] = "My Podcasts";
}

<div class="text-center">
    <h1 class="display-4">My Podcasts</h1>
    <p>Check out my movie podcast, <a href="https://baconsale.com/" target="_blank">Baconsale</a>!</p>
</div>